@media only screen and (min-width:0){
  body{
    height: 100%;
    padding: 20px;;
    margin: 0 auto;
  }
  .nav{
    padding: 64px 0;
    display: flex;
    justify-content: space-between;
    &__list{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card__img{
    max-width: 240px;
  }
  .about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    &__hero{
      padding-top: 50px;
      color: #fff;
    }
    .about-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      &__hero{
        
        padding-top: 50px;
        color: #fff;
     
      }
    }
  }
  .about__img{
    max-width: 200px;
  }
}
@media screen and (min-width:300px){
  body{
    padding: 0 20px;
  }
  .nav{
    padding: 64px 0;

    &__list{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .card-margin-2{
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .card__img{
    max-width: 300px;
  }
  .about__img{
    max-width: 280px;
  }
}
@media screen and (min-width:370px){
  .card__img{
    max-width: 330px;
  }
  .about__img{  
    padding-left: 15px;
  }
}
@media screen and (min-width:400px){
  .card__img{
    max-width: 350px;
  }
  .about__img{
    max-width: 320px;
  }

}
@media screen and (min-width:800px){
  .nav__list{
    gap: 40px;
  }
  .card-margin-2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__img{
    max-width: 400px;
    padding-top: 0;
  }
}
@media screen and (min-width:800px){
  .card-margin-2{
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .about__hero{
    padding-left: 90px  ;
    text-align: left;
    padding-top: 0;
  }
  .about-wrapper{
    .about__hero{
      padding-left: 90px  ;
      text-align: left;
      padding-top: 0;
    }

  }
  .about-wrapper{
    .about__hero{
      padding-right: 90px;
    }
  }
}
@media screen and (min-width:1020px){
  .about{
    .about__hero{
      padding: 50px;
    }
  }
  .about__img{
    max-width: auto;
  }
 
}
